uploads/Monitor_S3_Bucket.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description>This template leverages GetSQS to monitor S3 bucket changes as they occur.</description><name>Monitor S3 Bucket</name><snippet><connections><id>e61a0022-d211-45d2-b46a-ac6b81ee4e59</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>7e52ed14-99eb-4186-82b1-a6eaa7485116</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>f30e43c5-15aa-41ff-9545-9af7e6f42767</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>30b1cf0c-f046-4b41-a295-46e73e67a8be</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>6b9d1f1b-2bd6-4c26-b023-492b840be7e9</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>483adf1f-0725-4d14-97c3-7ce4c49a1422</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>8b7e3cc8-91d6-4025-9797-b346318fcea7</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>832.592041015625</x><y>582.0328254699707</y></bends><bends><x>832.592041015625</x><y>632.0328254699707</y></bends><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>483adf1f-0725-4d14-97c3-7ce4c49a1422</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>483adf1f-0725-4d14-97c3-7ce4c49a1422</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>ae15e19a-eca3-4218-995c-ef0fbf68684c</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>833.09619140625</x><y>899.1259803771973</y></bends><bends><x>833.09619140625</x><y>949.1259803771973</y></bends><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>523d9143-5640-4eda-8b3b-8d7c321950e4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>failure</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>523d9143-5640-4eda-8b3b-8d7c321950e4</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>55aa88e1-2e96-4f9f-ae85-2adbb7f94e14</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>eaa16a6a-a926-468c-9f00-bc07e474574c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>split</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>7e52ed14-99eb-4186-82b1-a6eaa7485116</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>0031c20d-ca2a-4b88-ac84-d76f87b82386</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>483adf1f-0725-4d14-97c3-7ce4c49a1422</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>eaa16a6a-a926-468c-9f00-bc07e474574c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>3375e3ca-c0d2-4ab0-aad7-c38b8caf4171</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>831.2213745117188</x><y>415.25696182250977</y></bends><bends><x>831.2213745117188</x><y>465.25696182250977</y></bends><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>eaa16a6a-a926-468c-9f00-bc07e474574c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>eaa16a6a-a926-468c-9f00-bc07e474574c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>63a88436-8563-4c89-8d1c-a895166aa7c1</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>523d9143-5640-4eda-8b3b-8d7c321950e4</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</groupId><id>6b9d1f1b-2bd6-4c26-b023-492b840be7e9</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>6b9d1f1b-2bd6-4c26-b023-492b840be7e9</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>428.78572880037746</x><y>718.6554464311569</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Delete Attributes Expression</key><value><description>Regular expression for attributes to be deleted from flowfiles.</description><displayName>Delete Attributes Expression</displayName><dynamic>false</dynamic><name>Delete Attributes Expression</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry><entry><key>filename</key><value>${filename:replaceAll(&quot;/&quot;, &quot;-&quot;)}</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>Remove slashes from s3 key</name><relationships><autoTerminate>false</autoTerminate><description>All FlowFiles are routed to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>523d9143-5640-4eda-8b3b-8d7c321950e4</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>424.09619140625</x><y>874.1259803771973</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Directory</key><value><description>The directory to which files should be written. You may use expression language such as /aa/bb/${path}</description><displayName>Directory</displayName><dynamic>false</dynamic><name>Directory</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Conflict Resolution Strategy</key><value><allowableValues><displayName>replace</displayName><value>replace</value></allowableValues><allowableValues><displayName>ignore</displayName><value>ignore</value></allowableValues><allowableValues><displayName>fail</displayName><value>fail</value></allowableValues><defaultValue>fail</defaultValue><description>Indicates what should happen when a file with the same name already exists in the output directory</description><displayName>Conflict Resolution Strategy</displayName><dynamic>false</dynamic><name>Conflict Resolution Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Create Missing Directories</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>If true, then missing destination directories will be created. If false, flowfiles are penalized and sent to failure.</description><displayName>Create Missing Directories</displayName><dynamic>false</dynamic><name>Create Missing Directories</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum File Count</key><value><description>Specifies the maximum number of files that can exist in the output directory</description><displayName>Maximum File Count</displayName><dynamic>false</dynamic><name>Maximum File Count</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Last Modified Time</key><value><description>Sets the lastModifiedTime on the output file to the value of this attribute.  Format must be yyyy-MM-dd'T'HH:mm:ssZ.  You may also use expression language such as ${file.lastModifiedTime}.</description><displayName>Last Modified Time</displayName><dynamic>false</dynamic><name>Last Modified Time</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Permissions</key><value><description>Sets the permissions on the output file to the value of this attribute.  Format must be either UNIX rwxrwxrwx with a - in place of denied permissions (e.g. rw-r--r--) or an octal number (e.g. 644).  You may also use expression language such as ${file.permissions}.</description><displayName>Permissions</displayName><dynamic>false</dynamic><name>Permissions</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Owner</key><value><description>Sets the owner on the output file to the value of this attribute.  You may also use expression language such as ${file.owner}.</description><displayName>Owner</displayName><dynamic>false</dynamic><name>Owner</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Group</key><value><description>Sets the group on the output file to the value of this attribute.  You may also use expression language such as ${file.group}.</description><displayName>Group</displayName><dynamic>false</dynamic><name>Group</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Directory</key><value></value></entry><entry><key>Conflict Resolution Strategy</key><value>fail</value></entry><entry><key>Create Missing Directories</key><value>true</value></entry><entry><key>Maximum File Count</key></entry><entry><key>Last Modified Time</key></entry><entry><key>Permissions</key></entry><entry><key>Owner</key></entry><entry><key>Group</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutFile</name><relationships><autoTerminate>false</autoTerminate><description>Files that could not be written to the output directory for some reason are transferred to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Files that have been successfully written to the output directory are transferred to this relationship</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.PutFile</type></processors><processors><id>eaa16a6a-a926-468c-9f00-bc07e474574c</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>422.22137451171875</x><y>390.25696182250977</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Maximum Capture Group Length</key><value>1024</value></entry><entry><key>Enable Canonical Equivalence</key><value>false</value></entry><entry><key>Enable Case-insensitive Matching</key><value>false</value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value>false</value></entry><entry><key>Enable DOTALL Mode</key><value>false</value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value>false</value></entry><entry><key>Enable Multiline Mode</key><value>false</value></entry><entry><key>Enable Unicode-aware Case Folding</key><value>false</value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value>false</value></entry><entry><key>Enable Unix Lines Mode</key><value>false</value></entry><entry><key>Include Capture Group 0</key><value>true</value></entry><entry><key>filename</key><value>(.*)</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractText</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>7e52ed14-99eb-4186-82b1-a6eaa7485116</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>420.3619384765625</x><y>228.65034198760986</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Null Value Representation</key><value><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>JsonPath Expression</key><value>$.Records[*].s3.object.key</value></entry><entry><key>Null Value Representation</key><value>empty string</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitJson</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>STOPPED</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>483adf1f-0725-4d14-97c3-7ce4c49a1422</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>423.592041015625</x><y>557.0328254699707</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Bucket</key><value><description></description><displayName>Bucket</displayName><dynamic>false</dynamic><name>Bucket</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Object Key</key><value><defaultValue>${filename}</defaultValue><description></description><displayName>Object Key</displayName><dynamic>false</dynamic><name>Object Key</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Region</key><value><allowableValues><description>us-gov-west-1</description><displayName>us-gov-west-1</displayName><value>us-gov-west-1</value></allowableValues><allowableValues><description>us-east-1</description><displayName>us-east-1</displayName><value>us-east-1</value></allowableValues><allowableValues><description>us-west-1</description><displayName>us-west-1</displayName><value>us-west-1</value></allowableValues><allowableValues><description>us-west-2</description><displayName>us-west-2</displayName><value>us-west-2</value></allowableValues><allowableValues><description>eu-west-1</description><displayName>eu-west-1</displayName><value>eu-west-1</value></allowableValues><allowableValues><description>eu-central-1</description><displayName>eu-central-1</displayName><value>eu-central-1</value></allowableValues><allowableValues><description>ap-southeast-1</description><displayName>ap-southeast-1</displayName><value>ap-southeast-1</value></allowableValues><allowableValues><description>ap-southeast-2</description><displayName>ap-southeast-2</displayName><value>ap-southeast-2</value></allowableValues><allowableValues><description>ap-northeast-1</description><displayName>ap-northeast-1</displayName><value>ap-northeast-1</value></allowableValues><allowableValues><description>sa-east-1</description><displayName>sa-east-1</displayName><value>sa-east-1</value></allowableValues><allowableValues><description>cn-north-1</description><displayName>cn-north-1</displayName><value>cn-north-1</value></allowableValues><defaultValue>us-west-2</defaultValue><description></description><displayName>Region</displayName><dynamic>false</dynamic><name>Region</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Key</key><value><description></description><displayName>Access Key</displayName><dynamic>false</dynamic><name>Access Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Secret Key</key><value><description></description><displayName>Secret Key</displayName><dynamic>false</dynamic><name>Secret Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Credentials File</key><value><description></description><displayName>Credentials File</displayName><dynamic>false</dynamic><name>Credentials File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description></description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Version</key><value><description>The Version of the Object to download</description><displayName>Version</displayName><dynamic>false</dynamic><name>Version</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>Specifies an optional SSL Context Service that, if provided, will be used to create connections</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Endpoint Override URL</key><value><description>Endpoint URL to use instead of the AWS default including scheme, host, port, and path. The AWS libraries select an endpoint URL based on the AWS region, but this property overrides the selected endpoint URL, allowing use with other S3-compatible endpoints.</description><displayName>Endpoint Override URL</displayName><dynamic>false</dynamic><name>Endpoint Override URL</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Bucket</key><value></value></entry><entry><key>Object Key</key><value>${filename}</value></entry><entry><key>Region</key><value>us-west-2</value></entry><entry><key>Access Key</key></entry><entry><key>Secret Key</key></entry><entry><key>Credentials File</key></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Version</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Endpoint Override URL</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchS3Object</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to failure if unable to be copied to Amazon S3</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to success after being successfully copied to Amazon S3</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.aws.s3.FetchS3Object</type></processors><processors><id>f30e43c5-15aa-41ff-9545-9af7e6f42767</id><parentGroupId>df49e03e-c43d-4ccf-a49a-84e438ebbb36</parentGroupId><position><x>424.4350891113281</x><y>64.2171630859375</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Queue URL</key><value><description>The URL of the queue to act upon</description><displayName>Queue URL</displayName><dynamic>false</dynamic><name>Queue URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Auto Delete Messages</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Specifies whether the messages should be automatically deleted by the processors once they have been received.</description><displayName>Auto Delete Messages</displayName><dynamic>false</dynamic><name>Auto Delete Messages</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Key</key><value><description></description><displayName>Access Key</displayName><dynamic>false</dynamic><name>Access Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Secret Key</key><value><description></description><displayName>Secret Key</displayName><dynamic>false</dynamic><name>Secret Key</name><required>false</required><sensitive>true</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Credentials File</key><value><description></description><displayName>Credentials File</displayName><dynamic>false</dynamic><name>Credentials File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Region</key><value><allowableValues><description>us-gov-west-1</description><displayName>us-gov-west-1</displayName><value>us-gov-west-1</value></allowableValues><allowableValues><description>us-east-1</description><displayName>us-east-1</displayName><value>us-east-1</value></allowableValues><allowableValues><description>us-west-1</description><displayName>us-west-1</displayName><value>us-west-1</value></allowableValues><allowableValues><description>us-west-2</description><displayName>us-west-2</displayName><value>us-west-2</value></allowableValues><allowableValues><description>eu-west-1</description><displayName>eu-west-1</displayName><value>eu-west-1</value></allowableValues><allowableValues><description>eu-central-1</description><displayName>eu-central-1</displayName><value>eu-central-1</value></allowableValues><allowableValues><description>ap-southeast-1</description><displayName>ap-southeast-1</displayName><value>ap-southeast-1</value></allowableValues><allowableValues><description>ap-southeast-2</description><displayName>ap-southeast-2</displayName><value>ap-southeast-2</value></allowableValues><allowableValues><description>ap-northeast-1</description><displayName>ap-northeast-1</displayName><value>ap-northeast-1</value></allowableValues><allowableValues><description>sa-east-1</description><displayName>sa-east-1</displayName><value>sa-east-1</value></allowableValues><allowableValues><description>cn-north-1</description><displayName>cn-north-1</displayName><value>cn-north-1</value></allowableValues><defaultValue>us-west-2</defaultValue><description></description><displayName>Region</displayName><dynamic>false</dynamic><name>Region</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of messages to send in a single network request</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description></description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-COMPOUND_TEXT</displayName><value>x-COMPOUND_TEXT</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the SQS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Visibility Timeout</key><value><defaultValue>15 mins</defaultValue><description>The amount of time after a message is received but not deleted that the message is hidden from other consumers</description><displayName>Visibility Timeout</displayName><dynamic>false</dynamic><name>Visibility Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Message Wait Time</key><value><defaultValue>0 sec</defaultValue><description>The maximum amount of time to wait on a long polling receive call. Setting this to a value of 1 second or greater will reduce the number of SQS requests and decrease fetch latency at the cost of a constantly active thread.</description><displayName>Receive Message Wait Time</displayName><dynamic>false</dynamic><name>Receive Message Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Queue URL</key><value></value></entry><entry><key>Auto Delete Messages</key><value>true</value></entry><entry><key>Access Key</key></entry><entry><key>Secret Key</key></entry><entry><key>Credentials File</key></entry><entry><key>Region</key><value>us-west-2</value></entry><entry><key>Batch Size</key><value>10</value></entry><entry><key>Communications Timeout</key><value>30 secs</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Visibility Timeout</key><value>15 mins</value></entry><entry><key>Receive Message Wait Time</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>1 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetSQS</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to success after being successfully copied to Amazon S3</description><name>success</name></relationships><state>STOPPED</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.aws.sqs.GetSQS</type></processors></snippet><timestamp>01/30/2016 22:26:56 MST</timestamp></template>